@font-face {
    font-family: 'lora';
    src: url('font/lora.eot') format('eot'),
    url('font/lora.svg') format('svg'),
    url('font/lora.eot') format('ttf'),
    url('font/lora.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family:'crenzo';
	src: url('font/CRENZO.otf') format('otf'),
		 url('font/CRENZO.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

html {
	scroll-behavior: smooth;
    scroll-padding: 3.75rem;;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #e4e4ff;
    /*background: #2a2a67;*/
}
    
.noise-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #000; 
    opacity: 0.1; 
  }
  
  @keyframes noise-animation {
    0% { background-position: 0 0; }
    100% { background-position: 100% 100%;}
  }
    
  .noise-bg {
    background-image: url(images/fond-noisy.jpg); 
    background-size: cover;
    animation: noise-animation 2s steps(10) infinite; /* Vitesse et nombre d'étapes de l'animation */
  }

h1 {
    color: white;  
    text-transform: uppercase;
    text-align: center; 
    font-size: 40px;
    margin-top: 0;
    font-family:'Syne', sans-serif;
    /*animation: typing 3.5s steps(21);*/
}
/*
@keyframes typing {
    from {width:0}
    to {width: 100%;}
}
*/
h2 {
    text-transform: uppercase; 
    font-family:'Syne', sans-serif;
}
.matrix {
    text-transform: none; 
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    position: relative;
}
.matrix::after{
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 3px;
        background: #dadada;
        right: -15px;
        top: 0;
        animation: cursor 1s infinite;
      }
      
      @keyframes cursor {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
      
}

h3 {
    color:white;  
    text-transform: uppercase;
    text-align: center; 
    font-size: 1.7rem; 
    font-family:'Syne', sans-serif;
}

h4 {
    font-size: 1.4em;
    font-family:'Syne', sans-serif;
}

p {
    font-size: 0.938rem ; 
    font-family: 'lora', sans-serif;
}

span {
    font-weight:bold ;
}

header {
    height: 3.75rem;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    position: sticky;
    z-index: 1000;  
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    margin-left: 0.938rem;
}

nav a {
    font-size: 1.3rem;
    font-family: 'lora', sans-serif;
    color: #181818;
    padding-bottom: 0.188rem;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: #a7a7ee;
    border-bottom: 0.188rem solid #a7a7ee;
}

#icons {
    cursor: pointer;
    display: none;
}
/***Accueil***/

#accueil {
    margin-top: 0;
    background-image: url(images/rain-code\ pres.png);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

#accueil p {
   color: white;
   font-family: 'lora', sans-serif;
}

#accueil a {
    text-decoration: none;
}

#accueil img {
    width: 2.5rem;
    margin: 1rem;
}


/*
@keyframes title-slide {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

h1, h3 {
    animation: title-slide 1s ease-in-out forwards;
}*/

/***titre section***/
.titre-conteneur {
    margin-top: 0;
    background-color: #fff;
    box-shadow: 0.438rem 0.438rem 0 0 #222; 
    padding: 0 1rem 0 1rem;
    
}

#one {
    width: 7.813rem;
    width: fit-content;
}

#two {
    width: 12.5rem;
    width: fit-content;
}

#three {
    width: 7.5rem;
    width: fit-content;
}

#four {
    width:12.5rem;
    width: fit-content;
}
/***presentation AG***/

#a-propos {
    height: 100vh;
    margin-top: 0;
}
.content {
    display: flex;
    justify-content: space-between;
}

.content-presentation {
    flex: 2;
    margin-right: 20px;
}

.content-presentation img{
    width: 200px;
    margin-left: 80px;
}

#text-about {
    margin-top: 15px;
    margin-left: 60px;
    background-color: #fff;
    border-radius:0.938rem;
    min-width: 12.5rem;
    padding: 1rem;  
    border: 1px solid #707070;
    box-shadow: 1rem 1rem 0 black 
}

.content-passion {
    flex: 1;
    /*display: flex;*/
    flex-direction: column;
    /*gap: 10px;*/
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

figure img {
    width: 190px;
}

figcaption {
    color: #222;
    font-family: 'lora', sans-serif;
    font-size: 0.7rem;
    font-weight: bold;
    text-align: center; 
}

/***competences***/

#competences {
    height: 100vh;
}

.content-cv {
    display: flex;
    justify-content: space-evenly;
}
.cv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cv img {
    width: 45%;
   /* margin-top: 20px;*/
}

#more {
   /* position: absolute ;*/
    margin-bottom: 25px;
    /*margin-top: 20px;*/
    width: fit-content;
    /*transform: translateY(6rem) ;*/
    background-color: #fff;
    font-family: 'lora', sans-serif;
    font-size: 0.938rem;
    border-radius:0.938rem;
    min-width: 12.5rem;
    padding: 0.5rem; 
    z-index: 3;
    border: 1px solid #707070;
    box-shadow: 1rem 1rem 0 black;
}

.btn-cv {
    margin-left: 0.625rem;
    position: relative;
    padding: 0.8rem 1.6rem;
    margin: 15px;
    font-family: 'lora', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 0.938rem;
    color: black;
    text-align: left;
    cursor: pointer;
    background-color: #fff;
    border-radius: 0.938rem;
    border: 1px solid #707070;
    box-shadow: 10px 8px 0 0 #222; 
}

.btn-cv a {
    text-decoration: none; 
    color: black; 
    font-family: 'lora', sans-serif;  
}

.btn-cv:hover, .btn-cv:focus {
    box-shadow: 
      0 0 0 0;
   background : black;
   color:white
}

.btn-cv:hover a, .btn-cv:focus a {
    text-decoration: none;
    color: white;
}

#auto-formation {
    /*position: relative;*/
    margin-bottom: 25px;
    /*margin-top: 20px;*/
    width: fit-content;
    height: 80%;
    background-color: #fff;
    font-family: 'lora', sans-serif;
    font-size: 0.938rem;
    border-radius:0.938rem;
    border: 1px solid #707070;
    box-shadow: 1rem 1rem 0 black;
    min-width: 12.5rem;
    padding: 1rem;
    z-index: 2;  
}

@keyframes slide {
    from {
       transform: translateX(0);
    }
    to {
       transform: translateX(-100%);
    }
}
   
.logos {
    overflow: hidden;
    padding: 1rem 0;
    margin-top: 20px;
    background: white;
    white-space: nowrap;
    position: relative;
}
   
.logos::before,
.logos::after {
    position: absolute;
    top:0;
    width: 15.625rem;
    height: 100%;
    content:"";
    z-index: 2;
}
   
.logos::before {
    left: 0;
    background: linear-gradient(to left,transparent, white);
}
   
.logos::after {
    right: 0;
    background: linear-gradient(to right,transparent, white);
}
   
.logos:hover .logos-slide {
    animation-play-state: paused;
}
   
.logos-slide {
    display: inline-block;
    animation: 10s slide infinite linear;
}
   
.logos-slide img {
    height: 4rem; 
    margin: 0 2.5rem ;
}

/***projets***/

#projets {
    height: 280vh;
}
  
.projet {
    display: flex;
    align-items: center;
    width: fit-content;
    background-color: #fff;
    border-radius:0.938rem;
    padding: 0.5rem; 
    z-index: 3;
    border: 1px solid #707070;
    box-shadow: 1rem 1rem 0 black;
    margin-left:20px;
    margin-right:20px;
    margin-bottom: 30px;
}

.slide.active {
    z-index:1; 
    opacity:1;
    position: relative;
}

.slide {
    opacity: 0;
    position: absolute;
}

.slide img{
    margin-left:20px;
    width: 70%;
    height: auto;
    border: 1px solid #707070;
}

.carousel {
    position: relative;
    display: inline-block;
}
.carousel-text {
    font-family: 'lora';
    margin-right:20px;
    width: 80%;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 2rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(225,225,225,.5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background: rgba(0,0,0,.1); 
}
    
.carousel-button:hover, 
.carousel-button:focus {
    color:white;
    background: rgba(0,0,0,.2);
} 
     
.carousel-button:focus {
    outline: 1px solid black;
}
    
.carousel-button.prev {
    left:6%;
}
        
.carousel-button.next {
    left:65%;
}

.slide-link {
    text-decoration: none;
    /*text-transform: uppercase;*/
    /*color: black;*/
}

.projets-details {
    display: flex;
    justify-content: space-around ;
    align-items: center;
    align-content: center; 
}

.projet-1 {
    display:flex;
    flex-direction: column;
    align-content: center;
    align-items: center; 
    text-align: center; 
    font-family: 'lora', sans-serif;
    font-size: 0.938rem;
    max-width: 21rem; 
    margin-bottom: 25px;
    width: fit-content;
    background-color: #fff;
    border-radius:0.938rem;
    padding: 0.5rem; 
    z-index: 3;
    border: 1px solid #707070;
    box-shadow: 1rem 1rem 0 black;
}

.projet-1 img {
    height: 12.5rem;
   }

.projet-1 p {
    font-size: 1rem;
   }

.projet-2 {
    display:flex;
    flex-direction: column;
    align-content: center;
    align-items: center; 
    text-align: center; 
    font-family: 'lora', sans-serif;
    font-size: 0.938rem;
    max-width: 21rem; 
    margin-bottom: 25px;
    width: fit-content;
    background-color: #fff;
    border-radius:0.938rem;
    padding: 0.5rem; 
    z-index: 3;
    border: 1px solid #707070;
    box-shadow: 1rem 1rem 0 black;
}

.projet-2 p {
    font-size: 1rem;
}

.projet-2 img {
 height: 20rem;
}

#contact img {
    width: 4.375rem;  
}

.logo-contact {
    display: flex;
    justify-content: space-around ;
    align-items: center;
    align-content: center; 
    background-image: url(images/rain-code1.png);
    height: 30vh;
}

#linkedin {
    display:flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    color: #fff;
    text-transform: uppercase;

}

#mail {
    display:flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
}

#github-logo {
    display:flex;
    flex-direction: column;
    align-content: center;
    align-items: center; 
    color: #fff;
    text-transform: uppercase;
   
}
/*
@keyframes move {
    from {
       transform: translateY(0);
    }
    to {
       transform: translateY(-30%);
    }
   }

.logo-contact:hover img{
    animation-play-state: paused;
}
.logo-contact img{
    animation: 2s move infinite alternate;
    }*/

/***Responsive***/
/*pour les petits écrans types i-phone 5 avec 548 de hauteur*/
@media only screen and (min-width: 0px ) and (max-width: 320px) {

    html {
        scroll-padding: 2.4rem;;
    }

    h1{
        font-size: 25px;;
    }

    h3{
        font-size: 1.3rem;
    }

    h4{
        font-size: 1.2rem;
    }
 
    header {
        height: 2.4rem;
    }

    header img {
        width: 8.5rem;
    }

    #icons {
        display: block;
        font-size: 1.5em;
    }

    #icons:before {
        content:"\2630";
    }

    .active #icons:before {
        content:"\2613";
    }

    nav ul {
        position: fixed;
        top: 10px;/*sticky ? position top : 5px??*/
        right: -200%;/*pbm avec 100, il faut le mettre à 0 pour qu'il prenne bien sa place après...
        vien surement des réglages fais en haut comme pour mar-left pour li !*/
        flex-direction: column;
        text-align: center;
        background-color: #fff;
        width: 100%;
        justify-content: space-evenly;
        height: 50%;
        transition: 0.25s;
    }

    nav li {
        margin-left:0;
    }
    nav li:hover {
        background-color: #ebe8e8;
    }

    nav.active ul {
        right: 0%;
    }

    #a-propos {   
        height: 300%;
    }

    .content {
        display: block;
    }

    .content-presentation img {
        width: 7.5rem;
        margin-left: 20px;
    }

    #text-about {
        margin: 10px;
        padding:0.3rem;
    }

   .content-passion {
    display: flex;
    margin-top: 40px;
   }

    #competences {
        height: 300%;
    }

    .content-cv {
        display: block;
    }

    #more {
        margin: 5px 30px 35px 15px;
    }

    .cv img {
        width: 15.75rem;
    }
    
    #auto-formation {
        margin: 5px 30px 30px 15px;
    }

    .logos::before,
    .logos::after {
        background: none;
    }

    .logos{
        padding: 0.7rem;
    }
    .logos-slide img {
        height: 2.7rem; 
    }
    
    #projets {
       height: 700%; 
    }

   .projet {
    display: block;
    padding: 1rem;
    margin: 5px 30px 30px 15px;
   }
         
    .slide img {
        width: 100%;
        margin:0;
    }

    .carousel-button.prev {
        left:2%;
    }
            
    .carousel-button.next {
        left:85%;
    }

    .projets-details {
        display: block;
    }
    .projet-1 {
        margin: 5px 30px 30px 15px;
        padding: 0.2rem;
    }
    
    .projet-1 img {
        height: 6rem;
    }

    .projet-2 {
        margin: 5px 30px 30px 15px;
        padding: 0.2rem;
    }

    .projet-2 img {
    height: 10rem;
    }
        
    #contact img {
        width: 3rem;  
    }
    .logo-contact p {
        font-size: 0;
    }
    
    }
/* Pour les écrans jusqu'à 767 pixels de large (smartphones) */
@media only screen and (min-width:321px) and (max-width: 767px) {
 
    html {
        scroll-padding: 2.7rem;;
    }

    h1 {
        font-size: 35px;;
    }

    h3 {
        font-size: 1.3rem;
    }

    h4 {
        font-size: 1.2rem;
    }
 
    header {
        height: 2.7rem;
    }

    header img {
        width: 8.5rem;
    }

    #icons {
        display: block;
        font-size: 1.5em;
    }

    #icons:before {
        content:"\2630";
    }

    .active #icons:before {
        content:"\2613";
    }

    nav ul {
        position: fixed;
        top: 10px;/*sticky ? position top : 5px??*/
        right: -200%;/*pbm avec 100, il faut le mettre à 0 pour qu'il prenne bien sa place après...
        vien surement des réglages fais en haut comme pour mar-left pour li !*/
        flex-direction: column;
        text-align: center;
        background-color: #fff;
        width: 100%;
        justify-content: space-evenly;
        height: 50%;
        transition: 0.25s;
    }

    nav li {
        margin-left:0;
    }

    nav li:hover {
        background-color: #ebe8e8;
    }

    nav.active ul {
        right: 0%;
    }

    #a-propos {   
       /* min-height: 220vh;*/
        height: 200%;

    }

    .content {
        display: block;
    }

    .content-presentation img {
        margin-left: 20px;
    }

    #text-about {
        margin: 10px;
        padding:0.3rem;
    }

   .content-passion {
        display: flex;
        margin-top: 40px;
   }

    #competences {
        height: 200%;
    }

    .content-cv {
        display: block;
    }

    #more {
        margin: 5px 30px 35px 15px;
    }

    .cv img {
        width: 15.75rem;
    }
    
    #auto-formation {
        margin: 5px 30px 30px 15px;
    }

    .logos::before,
    .logos::after {
        background: none;
    }

    .logos {
        padding: 0.7rem;
    }
    .logos-slide img {
        height: 2.7rem; 
    }
    
    #projets {
       height: 400%; 
    }

   .projet {
    display: block;
    padding: 1rem;
    margin: 5px 30px 30px 15px;
   }
         
    .slide img {
        width: 100%;
        margin:0;
    }

    .carousel-button.prev {
        left:2%;
    }
            
    .carousel-button.next {
        left:85%;
    }

    .projets-details {
        display: block;
    }

    .projet-1{
        margin: 5px 30px 30px 15px;
        padding: 0.2rem;
    }
    
    .projet-1 img{
        height: 6rem;
    }

    .projet-2 {
        margin: 5px 30px 30px 15px;
        padding: 0.2rem;
    }

    .projet-2 img {
    height: 10rem;
    }
        
    #contact img {
        width: 3rem;  
    }
    .logo-contact p {
        font-size: 0;
    }
}


/* Pour les écrans de 768 à 991 pixels de large (tablettes) */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    h1 {
        font-size: 35px;;
    }

    h3 {
        font-size: 1.3rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    header img {
        width: 8.5rem;
    }

    #icons {
        display: block;
        font-size: 1.5em;
    }
    #icons:before {
        content:"\2630";
    }
    .active #icons:before {
        content:"\2613";
    }
    nav ul {
        position: fixed;
        top: 10px;/*sticky ? position top : 5px??*/
        right: -200%;/*pbm avec 100, il faut le mettre à 0 pour qu'il prenne bien sa place après...
        vien surement des réglages fais en haut comme pour mar-left pour li !*/
        flex-direction: column;
        text-align: center;
        background-color: #fff;
        width: 100%;
        justify-content: space-evenly;
        height: 50%;
        transition: 0.25s;
    }

    nav li {
        margin-left:0;
    }

    nav li:hover {
        background-color: #ebe8e8;
    }

    nav.active ul {
        right: 0%;
    }

    #a-propos {   
        height: 100%;
    }

    .content-presentation img {
        margin-left: 20px;
    }
    #text-about {
        margin: 10px;
        padding:0.3rem;
    }
   .content-passion {
    display: flex;
    margin-top: 40px;
   }

    #competences {
        height: 100%;
    }

    #more {
        margin: 5px 30px 35px 15px;
    }

    .cv img {
        width: 15.75rem;
    }
    
    #auto-formation {
        margin: 5px 30px 30px 15px;
    }
    
    #projets {
       height: 250vh; 
    }

    .projet {
        display: block;
    }

    .projet-1 {
        margin: 5px 30px 30px 15px;
        padding: 0.2rem;
    }
    
    .projet-1 img {
        height: 6rem;
    }

    .projet-2 {
        margin: 5px 30px 30px 15px;
        padding: 0.2rem;
    
    }

    .projet-2 img {
    height: 10rem;
    }
    
    .logo-contact {
        height: 20vh;
    }

    #contact img {
        width: 3rem;  
    }
    .logo-contact p {
        font-size:0.8rem;
    }
    }
  

/* Pour les écrans de 992 à 1199 pixels de large (ordinateurs portables) 
@media only screen and (min-width: 992px ) and ( max-width : 1199px ) {


}*/